@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,400&family=Questrial&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg1);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--color-primary);
}
:root {
  --color-primary: #fc6648;
  --color-gradient: linear-gradient(to bottom, #d94c30, #fc8971);
  --color-whatsapp: #25D366;
  --color-bg: #f4f4f4;
  --color-bg1: #f1f0f0;
  --color-bg2: #dad8d4;
  --color-text: #393e45;
  --color-text1: #94959c;
  --color-seta: #6565658a;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  --bs-tooltip-bg: var(--color-primary);
  --bs-tooltip-color: var(--color-bg);
  --color-red: #e75c3c;
  --color-green: #2ecc71;
}

/* Background */

body,
.navbar {
  background-color: var(--color-bg1) !important;
  font-family: 'Poppins', sans-serif;
}

.bg {
  position: relative;
}

.bg-gray {
  width: 100%;
  height: 1100px;
  position: absolute;
  z-index: -10;
  top: -125px;
}

/* UTILITÁRIOS */

.h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-text);
}

.h2 {
  letter-spacing: 3px;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-top: 40px;
  text-align: center;
  color: var(--color-text);
}

.h3 {
  color: var(--color-primary);
  letter-spacing: 8px;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  text-align: center;
}

.h4 {
  color: var(--color-text1);
  letter-spacing: 3px;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  margin-top: 40px;
}

.divisor {
  color: var(--color-primary);
  width: 100px;
  border-width: 3px;
  opacity: 1;
  margin-top: 40px;
  text-align: center;
}

.divisor-header {
  color: var(--color-primary);
  border-width: 2px;
  opacity: 35%;
}

.container-mensagens {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999;
}

.toast {
  opacity: 1!important;
  width: auto;
  color: var(--color-white);
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.toast.red {
  background-color: var(--color-red);
}

.toast.green {
  background-color: var(--color-green);
}

/* Formatação do HEADER */

.logoPC {
  height: 80px;
}

.btn-close {
  color: #fc6648;
  
}

.nav-item{
  text-decoration: none;
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-item {
  background-image: linear-gradient(
    to right,
    #d94c30 50%,
    #fc8971 50%,
    var(--color-text) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 3px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-item:before{
  content: '';
  background:var(--color-primary);
  display: block;
  position: absolute;
  bottom: 1px;
  left: 10px;
  width: 0;
  height: 1px;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  background-position: 0;
}

.nav-item:hover::before{
  width: 100%;
}

/* Botão de contato */

.contato {
  background-image: linear-gradient(to right, #d94c30, #fc8971) !important;
  border: var(--color-primary);
}

.contato.login {
  width: 170px;
  height: 40px;
  border-radius: 12px 0;
  color: var(--color-bg1);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 1px;
}

.contato.login:hover {
  background: var(--color-gradient)!important;
  transform: scale(0.98);
}

/* Formatação da SEÇÃO 02 - Baner CTA */

.cta-primary {
  color: var(--color-primary);
}

.cta-description {
  font-family: 'Questrial', sans-serif;
  font-size: 1.125rem;
}

.banner-cta{
  position: relative;
}

.img-cta {
  border-radius: 24px 196px 24px 24px;
  margin-top: 96px;
  position: relative;
}

.contato.cta {
  width: 350px;
  height: 70px;
  border-radius: 24px 0;
  color: var(--color-bg1);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.375rem;
  z-index: 1;
  position: absolute;
  right: 32px;
  bottom: 32px;
}

/* .contato.cta:hover {
  background-image: linear-gradient(to left, #d94c30, #fc8971) !important;
  border: var(--color-primary);
} */

/* DESKTOP */

@media screen and (max-width: 991px) {
  .contato.cta {
    width: 200px;
    height: 50px;
    border-radius: 18px 0;
    font-size: 1rem;
  }
  .cta-description {
    flex-grow: 1;
  }
  .h1, 
  .cta-primary {
    justify-self: center;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {
  .nav-link{
    font-size: 0.86rem;
  }
}

/* TABLET */

@media screen and (max-width: 767px) {
  .contato.cta {
    width: 150px;
    height: 35px;
    border-radius: 12px 0;
    font-size: 0.85rem;
  }
  .img-cta {
    border-radius: 12px 96px 12px 12px;
    margin-top: 96px;
    position: relative;
  }
  .h1 {
    font-size: 4.2rem;
    margin: 0 auto;
  }
}

/* MOBILE */

@media screen and (max-width: 480px) {
  .contato.cta {
    width: 100px;
    height: 25px;
    border-radius: 8px 0;
    font-size: 0.5rem;
  }
  .img-cta {
    border-radius: 8px 48px 8px 8px;
    margin-top: 10px;
    position: relative;
  }
  .cta-description {
    font-size: 0.85rem;
  }
  .h1 {
    font-size: 2.2rem;
  }
  .h2 {
    font-size: 1.6rem;
  }
  .h3 {
    font-size: 1.3rem;
  }
  .h4 {
    font-size: 1.125rem;
    text-align: center;
  }
  .h5 {
    font-size: 1rem;
  }
  .logoPC, .contato.whatsapp {
    display: none;
  }
  header {
    padding-left: 0!important;
  }
  .offcanvas-title {
    display:inline!important;
  }
  h5 {
    display: none;
  }
}

.link_whatsapp {
  position: fixed;
  right: 20px;
  bottom: 35px;
  border: none;
  background: transparent;
}

/* Formatação da Seção 02 - O QUE É */

.style-text {
  color: var(--color-primary);
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
}

.text-description {
  color: var(--color-text);
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
}

.galery-oq-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;  
}

.oq-img {
  border-radius: 24px;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Formatação da seção 03 - INFRA */

.section-Tres-infra {
  margin: 180px 0;
}

.infra {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  border-right: 1px solid var(--color-seta);
  padding: 0 25px;
}

.infra:nth-child(4) {
  border-right: none;
}

.infra, .h5 {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--color-text);
  text-align: center;
}

.infra, .text-description {
  color: var(--color-text);
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;
}

.infra img {
  height: 60px;
  margin: 20px 0;
}

.infra, .oq-img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .infra {
    border-right: none
  }
}

/* Formatação da seção 04 - SOBRE */

#bg-gray {
  width: 100%;
  height: 900px;
  position: absolute;
  z-index: -10;
  top: -90px;
}

#carouselExampleInterval {
  height: 600px;
}

.carousel-item {
  width: 50%;
  text-align: center;
  margin: 0 auto!important;
}


/* Formatação da página O Nosso Espaço */

.container-fluid {
  padding: 0 !important;
}

/* carousel */
.carousel{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  opacity: 1;
}

.carousel .list .item{
  width: 180px;
  height: 250px;
  position: absolute;
  top: 80%;
  transform: translateY(-70%);
  left: 70%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-position: 50% 50%;
  background-size: cover;
  z-index: 100;
  transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.carousel .list .item:nth-child(3){
  left: 67%;
}

.carousel .list .item:nth-child(4){
  left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5){
  left: calc(67% + 400px);
}

.carousel .list .item:nth-child(n+5){
  left: calc(67% + 800px);
  opacity: 0;
}

.content {
  padding: 10px;
  backdrop-filter: blur(10px);
}

.list .item .content{
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 400px;
  text-align: left;
  color: var(--color-bg);
  display: none;
}

.list .item:nth-child(2) .content{
  display: block;
}

.content .title{
  font-size: 6.25rem;
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: 700;
  line-height: 1;
  backdrop-filter: blur(10px);
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .name{
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;  
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .des{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  margin-left: 5px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.9s 1 forwards;
}

.content .btn{
  margin-left: 5px;
  opacity: 0;
  animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.content .btn button{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid var(--color-bg);
  border-radius: 12px 0;
}

.content .btn button:nth-child(1){
  margin-right: 15px;
  border-radius: 12px 0;
}

.content .btn button:nth-child(2){
  background: transparent;
  color: var(--color-primary);
  background-color: var(--color-bg);
  border: 2px solid var(--color-bg);
  border-radius: 12px 0;
  transition: 0.3s;
}

.content .btn button:nth-child(2):hover{
  background-color: var(--color-primary);
  color: var(--color-bg);
  border-color: var(--color-primary);
}

.content .btn button:nth-child(1):hover{
  background-color: var(--color-primary);
  color: var(--color-text);
  border-color: var(--color-primary);
}

@keyframes animate {
  
  from{
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}

/* Carousel */


/* next prev arrows */

.arrows{
  position: absolute;
  top: 83%;
  right: 30%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: none;
  outline: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  transition: .5s;
  cursor: pointer;
}

.arrows button:hover{
  background: var(--color-bg);
  color: var(--color-text);
}


/* time running */
.carousel .timeRunning{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 4px;
  background-color: var(--color-primary);
  left: 0;
  top: 0;
  animation: runningTime 10s linear 1 forwards;
}

@keyframes runningTime {
  
  from{width: 0%;}
  to{width: 100%;}

}

/* Responsive Design */

@media screen and (max-width: 999px){
  
  header{
      padding-left: 50px;
  }

  .list .item .content{
      left: 50px;
  }

  .content .title, .content .name{
      font-size: 70px;
  }

  .content .des{
      font-size: 16px;
  }

}

@media screen and (max-width: 690px){
  header nav a{
      font-size: 14px;
      margin-right: 0;
  }

  .list .item .content{
      top: 40%;
  }

  .content .title, .content .name{
      font-size: 45px;
  }

  .content .btn button{
      padding: 10px 15px;
      font-size: 14px;
  }
}

.galeria_destaque {
  display: flex;
  justify-content: center;
  margin: 20px;
  background-color: #333;
}

.galeria_destaque img {
  width: 100%;
}

.arrow {
  color: #d94c30;
  width: 100px;
  height: 100px;
  align-self: center;
  margin: 0 auto;
  display: flex;
}

.galeria_miniaturas {
display: flex;
justify-content: center;
}
.galeria_miniaturas img {
width: 30px;
height: 2px;
margin-inline: 8px;
}
.galeria_miniaturas img:hover {
cursor: pointer; /* altera o cursor */
overflow: hidden;
}

.btn.btn-secondary {
  color: var(--color-bg);
  background-color: var(--color-primary);
  border: none;
}

/* Formatação da página Nossos Planos */

.titulo{
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
}

.text-accent{
  color: var(--color-text);
}

.fs-500{
  font-size: 1.3125rem;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.mb{
  margin-bottom: 0.5em;
}

.plans{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em 0;
}

.plan{
  width: 16.5rem;
  padding: 2em;
  border-radius: 1em;
  margin: 1em;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.plan:hover {
  transform: scale(1.1);
  background-color: var(--color-primary);
}

.plan--light{
  color: var(--color-text);
  background: linear-gradient(-45s, #393e45, #393e45);
}

.plan--light .plano-preco{
  color: var(--color-text);
}

.plan--light .btn{
  color: var(--color-bg);
  background: var(--color-text);
}

.plan--accent{
  color: var(--color-text);
  background: linear-gradient(-45s, #393e45, #393e45);
}

.plan--accent .btn{
  color: var(--color-bg);
  background: var(--color-text);
}

.plan-title{
  text-transform: uppercase;
  margin: 0 0 1em;
}

.plan-preco{
  margin: 0;
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
}

.plan-preco span{
  display: block;
  font-size: 1.5625rem;
  font-weight:300 ;
}

.plan-descricao{
  margin: 2em 0;
  line-height: 1.5;
  font-family: 'Questrial', sans-serif;
}

.btn{
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-text);
  transition: 0.3s;
}

.btn:hover{
  opacity: 0.7;
}

.btn-mb{
  margin-bottom: 3em;
}

.btn--light{
  color: var(--color-text);
  background: var(--color-text);
}

.btn--dark{
  color: var(--color-text);
  background: var(--color-text);
}

/* Formatação do Blog */

data {
  font-family: "Poppins", sans-serif;
  color: var(--color-primary);
  padding: 10px;
  font-weight: 300;
}

.content-blog {
  text-decoration: none;
  cursor: pointer;
}

.title-blog {
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
  font-size: 1.5rem;
}

.post-content {
  font-family: "Questrial", sans-serif;
  padding: 0 0 20px 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  margin: 20px 0;
  color: var(--color-text1);
  background-color: var(--color-bg);
}

.img-blog{
  height: 450px;
  width: auto;
  justify-content: center;
}

.text-blog {
  color: var(--color-text);
  font-family: 'Questrial', sans-serif;
}

/* FORMATAÇAO DO CONTATO */



h3 {
  color: var(--color-text);
  
}

.icon-contato {
  width: 50px;
}

.contato-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text);
}

.contato-description {
  font-size: 1.125rem;
  color: var(--color-text);
}

.contato {
  color: var(--color-bg);
  border-radius: 12px 0;
}

.contato:hover {
  background-image: linear-gradient(to left, #d94c30, #fc8971) !important;
  border: var(--color-primary);
}


/* FORMATAÇÃO DO FOOTER */

.footer {
  background-image: url(../assets/img/bg-gray.jpg);
  background-position: center;
  height: 8rem;
}

.text-footer-um {
  color: var(--color-primary);
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  font-weight: 700;
}

.text-footer {
  font-family: "Questrial", sans-serif;
  color: var(--color-text);
  font-weight: 500;
}

.item {
  color: var(--color-primary);
  transition: all 0.4s ease-in-out;
}
.item.insta:hover {
  color: #dd2a7b;
} 
.item.face:hover{
  color: #3b5988;
}
.item.x:hover{
  color: white;
}